<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>  
    <system.diagnostics>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="IndexData.log" />
          <remove name="Default" />
        </listeners>
      </trace>
    </system.diagnostics>
  <connectionStrings>
    <add name="dbConnectionIndexData" providerName="System.Data.SqlClient"
      connectionString="server=JKERMOND-NEW\SQLEXPRESS2014;database=AdvIndexData;uid=sa;pwd=M@gichat!" />
    <add name="dbConnectionAmdVifs" providerName="System.Data.SqlClient"
      connectionString="server=JKERMOND-NEW\SQLEXPRESS2014;database=AmdVifsDB;uid=sa;pwd=M@gichat!" />
    <!--
    <add name="dbConnectionIndexData" providerName="System.Data.SqlClient"
      connectionString="server=VSACMDDB3-1;database=IndexData;uid=sa;pwd=M@gichat!" />
    <add name="dbConnectionAmdVifs" providerName="System.Data.SqlClient"
      connectionString="server=VSACMDDB3-1;database=AmdVifsDB;uid=sa;pwd=M@gichat!" />
      -->
  </connectionStrings>
  <appSettings>
    <!--
    <add key="LogfileOutputPath" value="C:\A_Development\visual studio 2017\AdventProjects\IndexDataForm\IndexDataForm\NoOutput\"/>
    -->
    <add key="VifsPath.Snp" value="C:\Indexdata\Vifs\Snp\"/>
    <add key="VifsPath.Russell" value="C:\Indexdata\Vifs\Russell\"/>
    <add key="VifsPath.RussellIcb" value="C:\Indexdata\Vifs\RussellICB\"/>
    <add key="VifsPath.RussellICB_history" value="C:\Indexdata\Vifs\RussellICB_history\"/>
    <add key="AxmlOutputPath" value="C:\Indexdata\AxmlOutput\"/>
    <add key="AxmlOutputPathProd" value="C:\Indexdata\AxmlOutputProd\"/>
    <add key="timerInterval" value="12000"/>
    <add key="testingIndexDataEngine" value="false"/>
    <add key="logFileName" value="IndexDataLog.txt"/>
    <add key="logFilepath" value="\IndexData\Logs\"/>
    <add key="deleteLog" value="false"/>
    <add key="useSnpSecurityMaster" value="true"/>
    <add key="sendMail" value="false"/>
    <add key="ftpRootDir" value="C:\Indexdata\ftpRoot"/>
    <add key="processStatusDaysOfHistory" value="1"/>
    <add key="deleteFilesInFtpFolders" value="true"/>
  </appSettings>


</configuration>