/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ProcessDate]
      ,[Vendor]
      ,[Dataset]
      ,[IndexName]
      ,[OpenData]
      ,[CloseData]
      ,[TotalReturnData]
      ,[SecurityMasterData]
      ,[SymbolChangeData]
      ,[AxmlConstituentData]
      ,[AxmlSectorData]
      ,[ExpectedClientFiles]
      ,[ActualClientFiles]
  FROM [IndexData].[dbo].[ProcessStatus]
  where vendor='russell' and ProcessDate = '01/03/2018'