/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [IndexName]
      ,[ReturnDate]
      ,[Vendor]
      ,[VendorFormat]
      ,[VendorReturn]
	  ,[AdvReturnAdj]
      ,[AdvReturn]
      ,[AdvAdjFactor]
      ,[AdvReturnDb]
      ,[Diff]
      ,[DiffAdj]
      ,[DiffDb]
      ,[CumltDiff]
      ,[dateModified]
      ,[ClientId]
      ,[RequestFile]
  FROM [IndexData].[dbo].[TotalReturns]
  where vendor = 'russell' and ReturnDate >= '01/03/2018' 